.navbar-brand {
    margin-left: 16px;
}

.navbar a {
    margin-right: 16px;
    color: white;
}

.navbar a:hover {
    color: white;
}

table {
    margin: 5px;
}

th {
    width: 30%;
}

body {
    background-color: lightgrey;

}

.form-group {
    width: 40%;
}

.add-book {
    padding: 7%;
}

.add-confirm{
    padding: 7%;
}

.registration-field .row {
    margin-top: 20px;
}

.registration-field {
    margin-top: 100px;
}

.register-signup {
    margin-top: 20px;
}

.container-fluid {
    --bs-gutter-x: 0px;
}

.search {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.login-card {
    background-color: lightgrey;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
}